<footer>

  <div class=" footer middle-xs" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="footer-info middle-xs center-xs " fxLayout="row" fxFlex.gt-sm="30%" fxFlex.xs="100%">
      <div class="footer-info_container " fxLayout="column" fxFlex="83%" fxLayoutAlign="center center">
        <img class="logo" src="../assets/images/logo2.png" alt="Graphicghost" width="100px" />
        <p class="footer-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          In numquam dignissimos fugit totam vitae eius.
          Quo perspiciatis vitae facere aliquam repellendus
          maiores ex facilis</p>
        <button fxLayoutAlign="center" class="button1">Button</button>
      </div>
    </div>

    <div class="footer-info middle-xs center-xs " fxLayout="row" fxFlex.gt-sm="30%" fxFlex.xs="100%">
      <div class="footer-info_container " fxLayout="column" fxFlex="83%" fxLayoutAlign="center center">
        <h3 class="footer-title">About</h3>
        <p class="footer-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          In numquam dignissimos fugit totam vitae eius.
          Quo perspiciatis vitae facere aliquam repellendus
          maiores ex facilis</p>
        <button fxLayoutAlign="center" class="button">Button</button>
      </div>
    </div>

    <div class="footer-info  middle-xs center-xs " fxLayout="row" fxFlex.gt-sm="30%" fxFlex.xs="100%">
      <div class="footer-info_container " fxLayout="column" fxFlex="83%" fxLayoutAlign="center">
        <h3 class="footer-title">Contact Us</h3>
        <div class=" contact row">
          <span class="icon" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
            <i class="far fa-envelope "><span> INFO@GMAIL.COM</span></i>
          </span>
          <span class="icon" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
            <i class="fas fa-phone"><span> +123 465 78-90</span></i>
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="icon1" fxLayoutAlign="center">
            <i class="icon-cicle fab fa-facebook-f center-xs"></i>
          </div>
          <div class="icon1" fxLayoutAlign="center">
            <i class="icon-cicle fab fa-twitter center-xs"></i>
          </div>
          <div class="icon1" fxLayoutAlign="center">
            <i class="icon-cicle fab fa-instagram center-xs"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-list" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class=" middle-xs" fxLayout="row" fxLayoutAlign="center center" fxFlex="25%">
      <div class="footer-list_title" fxLayout="column" fxFlex.lg="75%" fxFlex.xs="83%">
        <span class="icon">
          <i class="far fa-copyright"><span> Lorem</span></i>
        </span>
      </div>
    </div>
    <div class="container " fxLayout="row" fxLayoutAlign="center center" fxFlex="75%" fxHide fxShow.gt-xs>
      <ul class="navigation2" fxLayoutAlign.gt-sm="end">
        <li><a href="#">WORK</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
</footer>
