<div class="Navbar" ngClass.lt-md="lt-md">

  <div class="Navbar__Link Navbar__Link-brand">
    <img src="../../../assets/images/logo1.png" alt="">
  </div>

  <div class="Navbar__Link Navbar__Link-toggle" (click)='classToggle()'>
    <i class="fas fa-bars"></i>
  </div>

  <nav class="Navbar__Items Navbar__Items--right" ngClass.lt-md="lt-md">
    <div class="Navbar__Link">
      WORk
    </div>
    <div class="Navbar__Link">
      SERVICE
    </div>
    <div class="Navbar__Link">
      ABOUT
    </div>
    <div class="Navbar__Link">
      BLOG
    </div>
    <div class="Navbar__Link">
      SONTACT
    </div>
  </nav>

</div>
