<navbar></navbar>
<!-- seccion1  -->

<section class="section1" ngClass.gt-xs="gt-xs">
  <div class="perspiciatis" fxLayout="row" ngClass.gt-xs="gt-xs">
    <div class="img" fxFlex="100%" fxFlex.ms="60%">
      <div class="content">
        <h1 class="title">Sed Ut Perspiciatis Unde Omnis Iste Natus</h1>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quasi, odio placeat! Nihil ipsa quasi mollitia laboriosam
          aperiam perspiciatis, sint, doloribus voluptatum</p>
        <button class="button">Button</button>
      </div>
    </div>
    <div fxHide fxShow.gt-xs class="img2 " fxFlex="100%" fxFlex.ms="60%"></div>
  </div>
</section>


<!-- seccion2 -->

<section class="section2" fxLayout='column' fxFlexAlign="center">

  <div class="title-sections" fxLayout='column'>
    <h1 fxFlexAlign="center" fxFlex="50%" class="section2-title">Features</h1>
    <p fxFlexAlign="center" fxFlex="50%" class="section2-description">Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Deserunt saepe minus laborum,
      deleniti molestias distinctio eos sit suscipit error, dolore provident ipsa ducimus quo.</p>
  </div>

  <div fxLayout='row wrap' fxLayoutAlign="center">
    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row">
      <div fxLayoutAlign="center">
        <img src="../assets/images/check_circle.png" alt="checkCircle" width="80px">
      </div>
      <div class="container-text" fxLayout="column" fxLayoutAlign="start">
        <h3 fxLayoutAlign="start">Perspiciatis Unde Omnis</h3>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
    </div>

    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row">
      <div fxLayoutAlign="center">
        <img src="../assets/images/check_circle.png" alt="checkCircle" width="80px">
      </div>
      <div class="container-text" fxLayout="column" fxLayoutAlign="start">
        <h3 fxLayoutAlign="start">Sed Ut Unde Omnis</h3>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
    </div>

    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row">
      <div fxLayoutAlign="center">
        <img src="../assets/images/check_circle.png" alt="checkCircle" width="80px">
      </div>
      <div class="container-text" fxLayout="column" fxLayoutAlign="start">
        <h3 fxLayoutAlign="start">Iste Natus Error</h3>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
    </div>

    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row">
      <div fxLayoutAlign="center">
        <img src="../assets/images/check_circle.png" alt="checkCircle" width="80px">
      </div>
      <div class="container-text" fxLayout="column" fxLayoutAlign="start">
        <h3 fxLayoutAlign="start">Sit Voluptatem Accusantium</h3>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
    </div>

  </div>
</section>

<!-- seccion3 -->

<section class="section3   middle-xs" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">

  <div class="section3-info  middle-xs center-xs " fxLayout="row" fxFlex.gt-sm="30%" fxFlex.xs="100%">

    <div class="section3-info_1 " fxLayout="column" fxFlex="83%" fxLayoutAlign="center">
      <span class="icon">
        <i class="far fa-image"></i>
      </span>
      <h3 class="section3-title ">Perspiciatis Unde Omnis</h3>
      <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        In numquam dignissimos fugit totam vitae eius.
        Quo perspiciatis vitae facere aliquam repellendus
        maiores ex facilis</p>
      <h4 class="subtite">READ MORE</h4>
    </div>
  </div>

  <div class="section3-info2  middle-xs center-xs " fxLayout="row" fxFlex.gt-sm="30%" fxFlex.xs="100%">
    <div class="section3-info2_1 " fxLayout="column" fxFlex="83%" fxLayoutAlign="center">
      <span class="icon">
        <i class="far fa-image"></i>
      </span>
      <h3 class="section3-title">Sed Ut Unde Omnis</h3>
      <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        In numquam dignissimos fugit totam vitae eius.
        Quo perspiciatis vitae facere aliquam repellendus
        maiores ex facilis</p>
      <h4 class="subtite">READ MORE</h4>
    </div>
  </div>

  <div class="section3-info  middle-xs center-xs " fxLayout="row" fxFlex.gt-sm="30%" fxFlex.xs="100%">
    <div class="section3-info_1 " fxLayout="column" fxFlex="83%" fxLayoutAlign="center">
      <span class="icon">
        <i class="far fa-image"></i>
      </span>
      <h3 class="section3-title">Perspiciatis Unde Omnis</h3>
      <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        In numquam dignissimos fugit totam vitae eius.
        Quo perspiciatis vitae facere aliquam repellendus
        maiores ex facilis</p>
      <h4 class="subtite">READ MORE</h4>
    </div>
  </div>
</section>

<!-- seccion4 -->

<section class="section4 ">
  <div class=" column center-xs " fxLayout="column" fxLayoutAlign="center center">
    <div class="title-sections" fxLayout='column'>
      <h1 fxFlexAlign="center" fxFlex="50%" class="section2-title">Our Word</h1>
      <p fxFlexAlign="center" fxFlex="50%" class="section2-description">Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Deserunt saepe minus laborum,
        deleniti molestias distinctio eos sit suscipit error, dolore provident ipsa ducimus quo.</p>
    </div>


    <div class=" title-container " fxLayout="row" fxLayout.gt-sm="column" fxLayoutAlign="center ">
      <div class="items ">
        <span class="item">ALL</span>
        <span class="item">ISTE</span>
        <span class="item">NATUS</span>
        <span class="item">UNDE</span>
        <span class="item">OMNIS</span>
      </div>
    </div>

    <div class=" card " fxLayout="row wrap" fxLayoutAlign="center center">

      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container " fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>

      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container " fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container" fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container" fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container" fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container" fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container " fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="card-info " fxLayout="column">
        <div class="image-conainer middle-xs" fxLayoutAlign="center center" fxLayout="row">
          <span class="icon">
            <i class="far fa-image "></i>
          </span>
        </div>
        <div class="text-container " fxLayout="column" fxLayoutAlign="start start">
          <h2> Unde Omnis</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- seccion5 -->

<section class="section5">

  <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="58%">
      <div class="section5-title  " fxLayout="column" fxFlex.lt-xs="83%" fxFlex.gt-xs="83%">
        <h1 class=" start-xs">Perspiciatis Unde Omnis</h1>
        <p class="start-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt saepe minus
          laborum,
          deleniti molestias distinctio eos sit suscipit error, dolore provident ipsa ducimus quo.</p>
      </div>
    </div>
    <div class="container " fxFlex.gt-xs="42%" fxLayoutAlign.gt-md="end" fxLayoutAlign="center">
      <button class="button1  ">Button</button>
      <button class="button  ">Button</button>
    </div>
  </div>
</section>


<!-- seccion6 -->

<section class="section6">

  <div class="title-sections" fxLayout='column'>
    <h1 fxFlexAlign="center" fxFlex="50%" class="section2-title">Our Word</h1>
    <p fxFlexAlign="center" fxFlex="50%" class="section2-description">Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Deserunt saepe minus laborum,
      deleniti molestias distinctio eos sit suscipit error, dolore provident ipsa ducimus quo.</p>
  </div>

  <div fxLayout='row wrap' fxLayoutAlign="center">

    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">
      <div class="section6-card " fxLayoutAlign="center center">
        <span class=" icon">
          <i class="far fa-image "></i>
        </span>
      </div>
      <div class="container-text2" fxLayout="column" fxLayoutAlign="start">
        <div style=" margin-bottom: 10px;">
          <h2 fxLayoutAlign="start">Perspiciatis Unde Omnis</h2>
          <span fxLayoutAlign="start"> by <i>Admin</i> | 8 abril</span>
        </div>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

      </div>
    </div>
    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">
      <div class="section6-card " fxLayoutAlign="center center">
        <span class=" icon">
          <i class="far fa-image "></i>
        </span>
      </div>
      <div class="container-text2" fxLayout="column" fxLayoutAlign="start">
        <div style=" margin-bottom: 10px;">
          <h2 fxLayoutAlign="start">Perspiciatis Unde Omnis</h2>
          <span fxLayoutAlign="start"> by <i>Admin</i> | 8 abril</span>
        </div>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

      </div>
    </div>

    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">
      <div class="section6-card " fxLayoutAlign="center center">
        <span class=" icon">
          <i class="far fa-image "></i>
        </span>
      </div>
      <div class="container-text2" fxLayout="column" fxLayoutAlign="start">
        <div style=" margin-bottom: 10px;">
          <h2 fxLayoutAlign="start">Perspiciatis Unde Omnis</h2>
          <span fxLayoutAlign="start"> by <i>Admin</i> | 8 abril</span>
        </div>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

      </div>
    </div>

    <div class="sections-info " fxLayoutAlign="center center" fxLayout="row" fxLayout.xs="column">
      <div class="section6-card " fxLayoutAlign="center center">
        <span class=" icon">
          <i class="far fa-image "></i>
        </span>
      </div>
      <div class="container-text2" fxLayout="column" fxLayoutAlign="start">
        <div style=" margin-bottom: 10px;">
          <h2 fxLayoutAlign="start">Perspiciatis Unde Omnis</h2>
          <span fxLayoutAlign="start"> by <i>Admin</i> | 8 abril</span>
        </div>
        <p fxLayoutAlign="start">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </div>
  </div>
</section>

<!-- seccion7 -->

<section class="section7 ">

  <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="58%">
      <div class="section5-title" fxLayout="column" fxFlex.lt-xs="83%" fxFlex.gt-xs="83%">
        <h2>Perspiciatis Unde Omnis</h2>
      </div>
    </div>
    <div class="container " fxFlex.gt-xs="42%" fxLayoutAlign.gt-md="end" fxLayoutAlign="center center" fxLayoutAlign.lg="center center">
      <input fxLayoutAlign="center" class="input" placeholder="    Your Email" required>
      <button class="button">Button</button>
    </div>
  </div>
</section>

<!-- seccion8 -->

<section class="section8">

  <div class="title-sections" fxLayout='column'>
    <h1 fxFlexAlign="center" fxFlex="50%" class="section2-title">Our Word</h1>
    <p fxFlexAlign="center" fxFlex="50%" class="section2-description">Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Deserunt saepe minus laborum,
      deleniti molestias distinctio eos sit suscipit error, dolore provident ipsa ducimus quo.</p>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">

    <div class="card-info " fxLayout="column">
      <div fxLayoutAlign="center">
        <figure class="chart" data-percent="75">
          <figcaption>90%</figcaption>
          <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="80" transform="rotate(-90, 95, 95)" />
          </svg>
        </figure>
      </div>
      <div class="foot-image " fxLayoutAlign="center center">
        <h2> ISTE</h2>
      </div>
    </div>

    <div class="card-info" fxLayout="column">
      <div fxLayoutAlign="center">
        <figure class="chart" data-percent="85">
          <figcaption>85%</figcaption>
          <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="80" transform="rotate(-90, 95, 95)" />
          </svg>
        </figure>
      </div>
      <div class="foot-image " fxLayoutAlign="center center">
        <h2> NATUS</h2>
      </div>
    </div>
    <div class="card-info" fxLayout="column">
      <div fxLayoutAlign="center">
        <figure class="chart" data-percent="90">
          <figcaption>80%</figcaption>
          <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="80" transform="rotate(-90, 95, 95)" />
          </svg>
        </figure>
      </div>
      <div class="foot-image " fxLayoutAlign="center center">
        <h2> UNDE</h2>
      </div>
    </div>
    <div class="card-info" fxLayout="column">
      <div fxLayoutAlign="center">
        <figure class="chart" data-percent="95">
          <figcaption>75%</figcaption>
          <svg width="200" height="200">
            <circle class="outer" cx="95" cy="95" r="80" transform="rotate(-90, 95, 95)" />
          </svg>
        </figure>
      </div>
      <div class="foot-image " fxLayoutAlign="center center">
        <h2> OMNIS</h2>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

<app-footer></app-footer>
